@import "variables";

.form {
	&__row {
		margin-bottom: 15px;

		.btn,
		input:not([type]),
		input[type=date],
		input[type=email],
		input[type=number],
		input[type=password],
		input[type=search],
		input[type=tel],
		input[type=text],
		input[type=url],
		textarea {
			width: 100%;
		}

		textarea {
			max-width: 100%;
			max-width: 100%;
			min-height: 150px;
		}
	}

	&__label {
		display: block;
		font-size: 0.75em;
		font-weight: 500;
		margin-bottom: 0.5em;
		color: #7C8195;

		.dark & {
			color: #C7C9D1;
		}
	}

	&__inline {
		display: flex;
		align-items: center;
		gap: 0.375em;

		span {
			font-size: 0.75em;
			color: #595C6C;
			font-weight: 500;
		}
	}
}
// Input text and textarea ================================================
input:not([type]),
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
textarea {
	background-color: $input_bg_color;
	border: 1px solid $input_border_color;
	font-family: $main_font_family;
	color: $input_color;
	padding: 0.542em 1em;
	outline: none;
	font-size: 0.75em;
	font-weight: 400;
	border-radius: 0.3125em;
	transition: 0.3s;

	.dark & {
		color: $color_withe;
		background: #363A45;
		border: 1px solid #4A4F5B;
	}

	// &:hover {
	// 	border: 1px solid $input_hover_border_color;
	// 	background-color: $input_hover_bg_color;
	// }
	//
	// &:focus {
	// 	border: 1px solid $input_focus_border_color;
	// 	background-color: $input_focus_bg_color;
	// }

	&.invalid {
		background-color: $input_error_bg_color;
		border: 1px solid $input_error_border_color;
	}
	// Placeholder for input +++++++++++++++
	@include placeholder {
		color: $input_placeholder_color;
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	appearance: none;
}

/* Для Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto;
	appearance: none;
	margin: 0;
}
/* Для Firefox */
input[type=number] {
	appearance: textfield;
}

// Input checkbox and radio ===============================================
input[type=checkbox]:not([class]),
input[type=radio]:not([class]) {
	appearance: none;
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex: none;
	height: 0.94em;
	width: 0.94em;
	color: $color_withe;
	// box-shadow: inset 5px 5px 2px rgba(0,0,0,0.1);
	background: transparent;
	border: 1px solid #6F92B9;
	overflow: hidden;
	vertical-align: middle;
	outline: 0;
	text-align: center;
	position: relative;
	border-radius: 0.125em;
	transition: 0.3s;
	transition-property: color, border, background;

	&:hover {
		border: 1px solid #67D3FF;
	}

	&:not(:disabled),
	&:not(:disabled) {
		cursor: pointer;
	}

	&:before,
	&:before {
		display: block;
	}

	&:disabled,
	&:disabled {
		color: #ddd;
	}
}

input[type=radio] {
	&:checked {
		background-color: transparent;

		.dark & {
			background-color: transparent;

			&:hover {
				background-color: transparent;
			}
		}

		&:before {
			content: '';
			width: 0.45em;
			height: 0.45em;
			display: block;
			border-radius: 1px;
			background: #00B5FF;
		}
	}

	&:disabled:checked:before {
		opacity: 0.7;
	}
}

input[type=checkbox] {
	.dark & {
		border-color: #4A4F5B;
	}

	&:checked,
	&:indeterminate {
		background: #00B5FF;

		&:hover {
			background: #67D3FF;
		}

		.dark & {
			border-color: #00B5FF;
			// background: $color_withe;
			// color: #215794;

			&:hover {
				border-color: #67D3FF;
				// border-color: #CDD9E8;
				// background: #CDD9E8;
			}
		}

		&:before {
			font-family: 'robiclab';
			content: $icon_check;
			font-size: 0.6em;
			line-height: 0;
		}
	}

	&:indeterminate:before {
		content: "";
	}

	&:disabled:checked:before,
	&:disabled:indeterminate:before {
		opacity: 0.7;
	}
}

.checkbox {
	display: flex;
	align-items: center;

	input[type=checkbox],
	input[type=radio] {
		margin-right: 0.4em;
		background-color: transparent;

		&:hover {
			background-color: transparent;
		}

		.dark & {
			background-color: transparent;
			border: 1px solid #6F92B9;

			&:hover {
				border: 1px solid #fff;
				background-color: transparent;
			}
		}

		.dark & {}

		&:checked {
			&:hover {
				&:before {
					background: #67D3FF;
				}

				.dark & {
					border: 1px solid #6F92B9;

					&:before {
						background: #CDD9E8;
					}
				}
			}

			&:before {
				content: '';
				line-height: 0;
				font-size: 1em;
				width: 0.44em;
				height: 0.44em;
				display: block;
				border-radius: 1px;
				background: #00B5FF;

				.dark & {
					background: #FFFFFF;
				}

			}
		}
	}
}

select {
	background: #868f96;
	color: $color_withe;
	font-size: 0.8em;
	border-radius: 0.25em;
	padding: 0.6em;
	border: 1px solid $color_withe;
}

$track-w: 100%;
$track-h: 0.25em;
$thumb-d: 1.125em;
$track-c: #F2F2F2;
$track-c-dark: #3B3E47;
$filll-c: #00B5FF;

@mixin track($fill: 0) {
	box-sizing: border-box;
	border: none;
	width: $track-w;
	height: $track-h;
	border-radius: 0.125em;
	background: $track-c;

	.dark & {
		background: $track-c-dark;
	}

	@if $fill == 1 {
		background: linear-gradient($filll-c, $filll-c) 0/ var(--sx) 100% no-repeat $track-c;

		.dark & {
			background: linear-gradient($filll-c, $filll-c) 0/ var(--sx) 100% no-repeat $track-c-dark;
		}
	}
}

@mixin fill() {
	height: $track-h;
	background: $filll-c;
}

@mixin thumb() {
	box-sizing: border-box;
	border: none;
	width: $thumb-d;
	height: $thumb-d;
	border-radius: 50%;
	background: #00B5FF;
	background: rgba(0, 181, 255, 0.4) url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iNSIgY3k9IjUiIHI9IjUiIGZpbGw9IiMwMEI1RkYiLz4KPC9zdmc+Cg==") center no-repeat;
	background-size: 0.625em;
	backdrop-filter: blur(0.125em);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	// // outline: 0.25em solid rgba(0, 181, 255, 0.4);
	// box-shadow: 0 0 0 0.25em rgba(0, 181, 255, 0.4);

	&:after {
		content: '';
		display: block;
		width: 0.625em;
		height: 0.625em;
		background: $filll-c;
		border-radius: 50%;
	}
}

[type='range'] {
	&,
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
	}

	--range: calc(var(--max) - var(--min));
	--ratio: calc((var(--val) - var(--min))/var(--range));
	--sx: calc(.5*#{$thumb-d} + var(--ratio)*(100% - #{$thumb-d}));
	margin: 0;
	padding: 0;
	width: $track-w;
	height: $thumb-d;
	background: transparent;
	font: 1em/1 arial, sans-serif;

	&::-webkit-slider-runnable-track {
		@include track(1)
	}

	&::-moz-range-track {
		@include track
	}

	&::-ms-track {
		@include track
	}

	&::-moz-range-progress {
		@include fill
	}

	&::-ms-fill-lower {
		@include fill
	}

	&::-webkit-slider-thumb {
		margin-top: 0.5*($track-h - $thumb-d);
		@include thumb
	}

	&::-moz-range-thumb {
		@include thumb
	}

	&::-ms-thumb {
		margin-top: 0;
		@include thumb
	}

	&::-ms-tooltip {
		display: none;
	}
}

input[type=checkbox].toggler {
	appearance: none;
	width: 1.93em;
	height: 1em;
	border-radius: 0.5em;
	background: #00B5FF;
	padding: 0;
	border: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;

	&:before {
		display: none;
	}

	&:after {
		content: '';
		flex: none;
		position: relative;
		display: block;
		width: 0.7em;
		height: 0.7em;
		border-radius: 50%;
		background-color: $color_withe;
		margin: 0;
		padding: 0;
		border: 0;
		transition: left 0.2s;
		transform: rotate(0deg);
		left: 0.26em;
	}

	&:checked,
	&:indeterminate {
		background: #00B5FF;

		&:hover {
			background: #00B5FF;
		}
		// justify-content: flex-end;

		&:after {
			content: '';
			margin: 0;
			border: 0;
			left: 0.95em;
			font-size: 1em;
		}
	}
}

.number {
	display: flex;
	position: relative;
	width: 4.375em;

	input {
		width: 100%;
	}

	&__btn {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		z-index: 1;
		display: flex;
		flex-direction: column;
		width: 1.6em;
	}

	.minus,
	.plus {
		// border: 1px solid;
		color: #A2A6B6;
		// border-radius: 0.2em;
		line-height: 0.7;
		// margin: 0.2em;
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		user-select: none;
		padding-bottom: 0.5em;

		&:before {
			font-family: 'robiclab';
			content: $icon_caret;
			font-size: 0.4em;
		}
	}

	.plus {
		transform: rotate(180deg);
	}

	.minus {
		margin-top: 0;
	}
}
