.rdn {
    .is-open {}

    &-control {
        font-size: 0.75em;
        color: #595C6C;
        background: #F5F8FA;
        border: 1px solid #BEC9D3;
        border-radius: 0.1875em;
        padding: 0.65em 2.5em 0.65em 0.9em;
        font-weight: 500;
        cursor: pointer;
        min-height: 2.4em;

        .dark & {
            color: #fff;
            background: #363A45;
            border: 1px solid #4A4F5B;
        }

        .is-disabled & {
            // background-color: #868f96;
            cursor: default;
        }

        &.is-open {
            border-radius: 0.1875em 0.1875em 0 0;
        }

        .rdn_muted & {
            // background-color: #868f96;
        }

        &-placeholder {
            &.is-selected {}
        }

        &-arrow {
            position: absolute;
            right: 0;
            top: 0;
            width: 2.5em;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #A2A6B6;

            .is-disabled & {
                cursor: default;
            }

            &-icon {
                border: 0;
                position: static;
                width: auto;
                height: auto;

                &:before {
                    font-family: 'robiclab';
                    content: $icon_caret;
                    font-size: 0.7em;
                    font-weight: 400;
                }
                // border-top-color: $light_drop_color;
                // border-width: 0.3125em 0.3125em 0;
                // position: static;
                //
                // .dark & {
                //     border-top-color: $input_color;
                // }
                //
                // &.is-open {
                //     border-bottom-color: $light_drop_color;
                //     border-width: 0 0.3125em 0.3125em;
                //
                //     .dark & {
                //         border-bottom-color: $input_color;
                //     }
                // }
            }
        }

    }

    &-drop {
        background-color: #fff;
        max-height: none;
        width: auto;
        min-width: 100%;
        margin-top: 0;
        display: none;
        margin-top: -1px;
        padding: 0.125em 0.8125em;
        border-radius: 0 0 0.1875em 0.1875em;
        border: 1px solid #BEC9D3;
        box-shadow: 0 -0.625em 0.875em -0.375em rgba(52, 61, 70, 0.09);

        .dark & {
            color: #fff;
            background: #363A45;
            border: 1px solid #4A4F5B;
        }

        .footer & {
            top: auto;
            bottom: 100%;
        }

        &.is-open {
            display: block;
        }

        &-menu {
            &-option {
                color: #595C6C;
                font-size: 0.75em;
                padding: 0.59em 0;
                white-space: nowrap;
                font-weight: 500;

                &:nth-child(n+2) {
                    border-top: 1px solid #BEC9D3;

                    .dark & {
                        border-top-color: #4A4F5B;
                    }
                }

                .dark & {
                    color: #fff;
                }

                &:hover {
                    // color: $color_withe;
                    // background-color: #3FA9F5;
                    color: #8F93A6;
                    background-color: transparent;

                    .dark & {
                        color: #CDCDD6;
                    }
                }

                &.is-selected {
                    // color: $color_withe;
                    // background-color: #3FA9F5;
                    // color: inherit;
                    background-color: transparent;
                    color: #8F93A6;

                    .dark & {
                        color: #CDCDD6;
                    }
                }
            }

            &-label {
                display: flex;
                align-items: center;
                font-size: 0.9em;
                padding: 0.3em 0.5em;
                white-space: nowrap;

                input {
                    flex: none;
                    margin-right: 0.5em;
                }
            }
        }
    }

}
