// Main wrappers =====================================

html {
    display: flex;
}

body {
    display: flex;
    flex-grow: 1;
    height: auto;
    min-height: 100%;
    min-width: 0;
    min-height: 0;
}

#root {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    // max-width: 100%;
    // min-width: 100vw;
    min-height: 100%;
    flex-grow: 1;
    position: relative;
    color: $light_theme_color;
    background: $light_theme_background;

    .dark & {
        color: $dark_theme_color;
        background: $dark_theme_background;
    }

    @media (min-width: 460px) {
        font-size: calc(0.02 * 100vw + 0px);
    }

    @media (min-width: 768px) {
        font-size: calc(0.0115 * 100vw + 0px);
    }

    @media (min-width: 1536px) {
        font-size: 18px;
    }
}

.wrapper {
    font-size: $main_font_size;
    // margin: 0 auto (-$footer_height); // отрицательный нижний отступ на высоту футера
}

/* Middle
 ----------------------------------------------------------------------------- */
.main {
    flex-grow: 1;
    padding: 1.25em 0.9375em 4.125em;
    display: flex;
    // position: relative;
    // @extend %clear_a;
    // padding-bottom: $footer_height;
    // border-top: 1px solid;
    min-height: 0;
    min-width: 0;
    height: calc(100vh - 10.8em);
    overflow: hidden;
    background: $light_theme_background;

    @media (min-width: 768px) {
        padding: 0 1.3em 0 0.8em;
        margin-top: 1.2em;
        position: static;
        overflow: inherit;
    }

    @media (max-width: 767px) and (orientation: 'landscape') {
        padding-top: 0;
    }

    .dark & {
        background: $dark_theme_background;
    }
}

.desktop {
    @media (max-width: 767px) {
        display: none !important;
    }
}

.mobile {
    @media (min-width: 768px) {
        display: none !important;
    }

    &_horizont {
        @media (min-width: 460px) and (max-width: 768px) {
        }
    }
}
